body{
  background-color: #D4D4D4;
}
* {
  box-sizing: border-box;
  font-family: 'ABeeZee';
  font-size:110%;
}
h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size:1.75em;
}

p {
  padding: 30px 15px;
  width: 100%;
  font-size:1.25em;
  color: black;
}
.yellow{
  background-color: #ffde82;
}
.purple{
  background-color:#ad3dcc;
}
div{
  background-color: #787878;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
}
div > h2{
  border:  1px solid black;
  border-top:0px;
  border-right: 0px;
  font-size:125%;
  text-align: center;
  background-color: #3281a8;
  float:right;
  margin: 0px 0px 10px;
  padding: 5px 20px;
}
/*Desktop*/
@media (min-width: 992px) {
  .col-lg-4{
    float: left;
    border: 1px solid black;
    margin:20px; 
    width: 30%; 
  }
}
/*Tablet*/
@media (min-width: 798px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid black;
    margin: 15px;
  }
  .col-md-6 {
    width: 46%;
  }
  .col-md-12 {
    width: 95.5%;
  }
}
/*Mobile*/
@media (max-width: 797px) {
  .col-sm-12 {
    float: left;
    border: 1px solid black;
    width: 96.5%;
    margin:10px;
  }
}
